<%- include("./partials/header.ejs")%>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        
      
    <div class="tile is-ancestor">
        <div class="tile  is-vertical is-parent">
          <div class="tile is-child box">
            <p class="title">Design Thinking</p>
            <p class="subtitle">
               <button class="button is-success"><a href="https://drive.google.com/file/d/1_7ldDoAigmzwH8p6qJzQbiaYalCQSSBS/view">View Certificate!</a></button>
            </p>
          </div>
          <div class="tile is-child box">
            <p class="title">AWS Certified Cloud Practitioner</p>
            <p class="subtitle">
                <button class="button is-success"><a href="https://www.credly.com/badges/95b6d892-4ee1-425b-b45e-6b5300fd61f3?source=linked_in_profile">View Certificate!</a></button>
             </p>
          </div>
          <div class="tile is-child box">
            <p class="title">Innovator's DNA Certification</p>
            <p class="subtitle">
                <button class="button is-success"><a href="https://drive.google.com/file/d/1D7rxUKZLLUt7PEsHwLRDWR7n19ZduW46/view">View Certificate!</a></button>
             </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>