<%- include("./partials/header.ejs")%>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <span class="title">Design Thinking</span>
            <div><button class="button is-success"><a href="https://drive.google.com/file/d/1_7ldDoAigmzwH8p6qJzQbiaYalCQSSBS/view">View Certificate!</a></button></div>
              
           
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <span class="title">AWS Certified Cloud Practitioner</span>
            <div><button class="button is-success"><a href="https://www.credly.com/badges/95b6d892-4ee1-425b-b45e-6b5300fd61f3?source=linked_in_profile">View Certificate!</a></button></div>
              
           
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <span class="title">DevOps Fundamentals (Certified by Amdocs)</span>
            <div><button class="button is-success"><a href="https://drive.google.com/file/d/1hyIQsn_ADHoQ1LMftRuXOVEP5G2ZUdiT/view?usp=drive_link">View Certificate!</a></button></div>
              
           
          </div>
        </div>
      </div>


      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <span class="title">Management Principles of Microsoft (Issued by Linkedin)</span>
            <div><button class="button is-success"><a href="https://drive.google.com/file/d/1z-oxaSzmEZq0nH2wQ18x5fNQZ1c_mMa3/view?usp=drive_link">View Certificate!</a></button></div>
              
           
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <span class="title">Innovator's DNA Certification</span>
            <div><button class="button is-success"><a href="https://drive.google.com/file/d/1D7rxUKZLLUt7PEsHwLRDWR7n19ZduW46/view">View Certificate!</a></button></div>
              
           
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <span class="title">Docker Fundamentals (Coursera)</span>
            <div><button class="button is-success"><a href="https://drive.google.com/file/d/1T-jRox2i8Crh9RoksyuXvuoE9oRxp8Ob/view?usp=sharing">View Certificate!</a></button></div>
              
           
          </div>
        </div>
      </div>
    </div>

    
</body>
</html>