<%- include("./partials/header") %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
  
  
  
  <div class="container">
    <h1 class="title is-1">Welcome to my portal!</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <img width="64" height="64" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/external-passion-business-and-finance-victoruler-flat-victoruler.png" alt="external-passion-business-and-finance-victoruler-flat-victoruler"/>
          <span class="title">Passionate</span>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <img width="78" height="78" src="https://img.icons8.com/external-filled-color-icons-papa-vector/78/external-Improving-Recycling-And-Reusing-Habits-circular-economy-filled-color-icons-papa-vector.png" alt="external-Improving-Recycling-And-Reusing-Habits-circular-economy-filled-color-icons-papa-vector"/>
          <span class="title">Responsible</span>
        </div>
      </div>
        
      
      <div class="tile is-parent">
        <div class="tile is-child box">
          <img width="60" height="60" src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/external-hands-mother-day-vitaliy-gorbachev-fill-vitaly-gorbachev.png" alt="external-hands-mother-day-vitaliy-gorbachev-fill-vitaly-gorbachev"/>
          <span class="title">Honest</span>
        </div>
      </div>
    </div>
  
        
  
  
  <section class="hero" id="hero1">
          <div class="hero-body">
            <p class="title">
              Certifications
            </p>
            <p class="subtitle">
              <button class="button is-link">View Here!</button>
            </p>
          </div>
        </section>
      
    
        <section class="hero is-info" id="hero2">
          <div class="hero-body">
            <p class="title">
              Articles
            </p>
            <p class="subtitle">
              <button class="button is-link">View Here!</button>
            </p>
          </div>
        </section>
      
     
        <section class="hero is-success"id="hero3">
          <div class="hero-body">
            <p class="title">
              About
            </p>
            <p class="subtitle">
              <button class="button is-link">View Here!</button>
            </p>
          </div>
        </section>
      
      
        <section class="hero is-danger" id="hero4">
          <div class="hero-body">
            <p class="title">
              Info hero
            </p>
            <p class="subtitle">
              <button class="button is-link">View Here!</button>
            </p>
          </div>
        </section>
      
      </div>
</body>


</html>